#about{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 3em;
}

#about article{
    width: 50%;
    padding: 3em;
    padding: 5em 10em;
}

#about .img-sizing{
    width: 30em;
    height: 30em;
}
#about .img-sizing img{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

#about p{
    margin: 2rem;
}