#contact {
    margin: 10em;
}

#contact .flexbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 5rem;
}

#contact form{
    display : flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 3em;
    width: 30%;
}
#contact form input{
    height: 3em;
    font-family: VictorMono;
}
#contact form textarea{
    font-family: VictorMono;
    max-width: 100%;
}
#contact form input:active,
#contact form textarea:active{
    box-shadow: none;
}

#contact .socialMedia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1em 7em;
}
#contact .socialMedia i{
    font-size: 3rem;
    transition: all .5s ease-out;
}
#contact .socialMedia i:hover{
    color: yellow;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1300px){
    #contact .flexbox{
        flex-direction: column-reverse;
        align-items: center;
        gap: 3em;
        margin-top: 3em;
    }
    #contact form{
        width: 50%;
    }
}
@media screen and (max-width: 900px){
    #contact form{
        width: 75%;
    }
}
@media screen and (max-width: 700px){
    #contact form{
        width: 70vw;
    }
    #contact .socialMedia{
        padding: 1em 5em;
    }
    #contact .socialMedia i{
        font-size: 2rem;
        transition: all .5s ease-out;
    }
}