#legalMentions{
    margin: 5em;
}

.introLegalMentions{
    text-align: center;
}

#legalMentions article{
    margin-bottom: 3em;
    padding: 3em;
}

#legalMentions article h2,
#legalMentions article h3{
    margin: 0.5em 0;
}

#legalMentions article ul li{
    list-style: disc;
    padding-left: 2em;
}

#legalMentions article a{
    transition: all .3s ease-out;
}
#legalMentions article a:hover{
    color: yellow;
}

@media screen and (max-width: 900px){
    #legalMentions{
        margin: 2em;
    }
}