.PixelArt{
    margin: 2em;
}

#modalpixelart{
    margin: 2em;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img-container{
    width: 20vw;
    height: 20vh;
}
.img-container img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}