.PixelArt, .FurryArt{
    margin: 2em;
}

#modalpixelart, #modalfurryart{
    margin: 2em;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#modalpixelart .img-sizing,
#modalfurryart .img-sizing{
    margin-bottom: 2em;
    width: 25em;
    height: 25em;
    overflow: hidden;
}

#modalpixelart .img-sizing img,
#modalfurryart .img-sizing img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: all .5s ease-out;
}
#modalpixelart .img-sizing img:hover,
#modalfurryart .img-sizing img:hover{
    cursor: pointer;
    transform: scale(125%);
    filter: blur(4px);
}