#commissionHome{
    background-color: #004B6B;
    padding: 7em 10em;
}

#commissionHome p{
    margin: 2rem;
}
#commissionHome .button-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px){
    #commissionHome{
        padding: 5em 7em;
    }
}