#pixelArtSlider, #furryArtSlider{
    margin: 8em;
    padding: 5em;
}

#pixelArtSlider .flexbox{
    display: flex;
    justify-content: space-between;
    margin: 3em;
}
#furryArtSlider .flexbox{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 40vh;
}

#pixelArtSlider article, #furryArtSlider article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2rem;
}

#pixelArtSlider .button-container, #furryArtSlider .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgslider{
    width: 20vw;
}

.slick-slide{
    width: 20vw;
    height: 40vh;
}

.slick-slide img {
    object-fit: cover;
    object-position: center;
    margin: auto;
    width: 100%;
}