#terms-conditions{
    padding: 5em 20em;
    margin: 2em 0;
    text-align: center;
}

#terms-conditions h3{
    margin-bottom: 2em;
}

#terms-conditions p{
    margin-bottom: 1em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1300px){
    #terms-conditions{
        padding: 3em 10em;
    }
}
@media screen and (max-width: 900px){
    #terms-conditions{
        padding: 2em 7em;
    }
}
@media screen and (max-width: 500px){
    #terms-conditions{
        padding: 2em 4em;
    }
}